<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />

  <link
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap"
    rel="stylesheet"
    type="text/css"
  />

  <link
    href="https://fonts.googleapis.com/css?family=Muli:400,300"
    rel="stylesheet"
    type="text/css"
  />

  <link 
    rel="stylesheet" 
    href="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.css" 
  />

  <link 
    rel="icon" href="favicon.ico" 
    type="image/x-icon"
  />

  <script src="https://kit.fontawesome.com/70f6532a43.js" crossorigin="anonymous"></script>

</head>