<header>
  <div>
    <!-- Top bar with logo and menu button -->
    <div class="top-bar">
        <div class="left-container">
            <div class="menu-button" id="menuButton">
                <i class="fas fa-bars"></i>
            </div>
            <div class="left-container">
                <a href="index.html"><img src="images/LogoFull.JPG" class="logo" alt="Logo" style="height: 30px;width: 30px;"></a>
                <span class="site-title" onclick="window.location.href='index.html'" style="font-size: 17px;">HEXA1A5A9</span>
            </div>
        </div>
        <ul class="nav-links" id="navLinks">
            <li><a href="tune.html">TUNE</a></li>
            <li><a href="rhyme.html">RHYME</a></li>
            <li><a href="prose.html">PROSE</a></li>
            <li><a href="design.html">DESIGN</a></li>
            <li><a href="show.html">SHOW</a></li>
            <li><a href="connect.html">CONNECT</a></li>
        </ul>
    </div>
        
    <!-- Sliding menu from the right -->
    <div class="side-menu" id="sideMenu">
        <div class="close-menu" id="closeMenu">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="menu-links">
            <li><a href="index.html">HOME</a></li>
            <li><a href="tune.html">TUNE</a></li>
            <li><a href="rhyme.html">RHYME</a></li>
            <li><a href="prose.html">PROSE</a></li>
            <li><a href="design.html">DESIGN</a></li>
            <li><a href="show.html">SHOW</a></li>
            <li><a href="connect.html">CONNECT</a></li>
        </ul>
    </div>
  </div>
</header>
