<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
      {% include header.html %}
    <div class="overlay"></div>
    <main class="main-content">
        {{ content }}
    </main>
    <div class="float-btn-container">
      <button class="material-symbols float-btn" id="updateBtn">
        <span class="material-symbols-outlined">info</span>
        <span class="update-text">Loading...</span>
      </button>
    </div>
      {% include footer.html %}
  </body>

    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.css" />
    <script async src="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.js"></script>
    <div id="snipcart" data-api-key="N2ZjMDA5YWEtYTExOS00YjI0LWJmZjEtMDBhYTk1YmJmZDUyNjM4NzY1MjYzOTExNzAyNzI4" hidden></div>
    
  <!-- Load the JavaScript -->
  <script src="{{ site.baseurl }}/js/scripts.js"></script>

</html>